<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js ">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="/stylesheet/style.css">
        <link rel="stylesheet" href="/stylesheet/main.css">
    </head>
    <body>
          <div id="nav_bar">
              <a href=""></a>
              <nav class="en">
                  <a href="/" >
                    <i class="fas fa-home active"></i> 
                  </a>
                  <a href="/about">
                    <i class="fas fa-user"></i>
                  </a>
                  <a href="/skills">
                    <i class="far fa-sun"></i>
                  </a>
                  <a href="/project">
                    <i class="far fa-eye"></i>
                  </a>
                  <a href="/contact">
                    <i class="fas fa-file-signature"></i>
                  </a>
              </nav>
              <ul>
                  <li>
                      <a href="https://www.linkedin.com/in/shahid-afridi-b092a3185/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/shahid.ahamad.1291" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                  </li>
                  <li>
                      <a href="https://github.com/shahidahamad113" target="_blank">
                        <i class="fab fa-github"></i>  
                      </a>
                  </li>
              </ul>
              <a id="mobile-link">
                <i class="fab fa-500px"></i>
              </a>
          </div>
        