<%-  include("./partials/header") %>
<section class="container-fluid px-0">
    <div class="col-lg-6">
        <div class="word" >
            <span style="color: aqua;">A</span>
            <span>b</span>
            <span>o</span>
            <span>u</span>
            <span>t</span>
            <span style="margin-left: 30px;color: aqua;">m</span>
            <span>e</span>
        </div>
        <p class="set">Professionally connected with the web development
        </p>
        <p class="set">
            Well-organised person,problem solver,independent student with high attention to detail.Fan of KK,outdoor activities,TV series and,recently,English literature.
        </p>
        <p class="set">
            Interested in the entire frontend spectrum and working on ambitious projects with positive people
        </p>
    </div>
    <div class="col-lg-6">
        <h3 class="set"><span class="link">B</span>ANARAS <span  class="link">H</span>INDU <span  class="link">U</span>NIVERSITY</h3>
        <h4 class="set"><em><span  class="link">C</span>ENTRAL <span  class="link">H</span>INDU <span  class="link">S</span>CHOOL</em></h4>
        <br>
        <h3 class="set"><span  class="link">J</span>AMIA <span  class="link">M</span>ILLIA <span  class="link">I</span>SLAMIA</h3>
        <em><h5 class="set"><span  class="link">C</span>OMPUTER <span  class="link">E</span>NGINEERING</h5></em>
    </div>
</section>
<%-  include("./partials/footer") %>