<%-  include("./partials/header") %>
<section class="container-fluid px-0">
    <div class="col-lg-6">
       <div class="box">
           <div class="word">
               <span style="color: aqua;">C</span>
               <span>o</span>
               <span>n</span>
               <span>t</span>
               <span>a</span>
               <span>c</span>
               <span>t</span>
               <span style="margin-left: 20px;color: aqua;">m</span>
               <span>e!</span>
           </div>
           <p class="set">Im interested in work from home right now.However, if uou have other request or question,dont hesitate to contact me using below form either.</p>
        <form action="https://formspree.io/xzbalglz" method="POST">
            <div class="form-group">
             <input class="control-form" type="text" name="name" placeholder="Name">
            </div>
             <div class="form-group">
                 <div class="control-form">
                     <input type="text" name="_replyto" placeholder="Email">
                 </div>
             </div>
             <textarea name="message" placeholder="Your message!!!"></textarea>
 <button type="submit" class="flat">Send</button>
 </form>
       </div>
    </div>
    <div class="col-lg-6">
         <div class="mapouter"  >
              <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=okhlavihar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" style="position:absolute; top:0; left: 0"></iframe></div>
            </div>
            <h3 style="color: #fff;display: inline;"><i class="fas fa-map-marker-alt"></i> ADDRESS</h3>
        <p  class="pull-right" style="color: aqua;display: inline;font-size: 20px;">
            <i class="fas fa-envelope"></i> <a href="">shahidaf830@gmail.com</a></p>
            </div>
    </div>
</section>
<%-  include("./partials/footer") %>
