<%-  include("./partials/header") %>
<section class="container-fluid px-0">
    <div class="col-lg-8">
        <div class="word" >
            <span style="color: aqua;">H</span>
            <span>i</span>
            <span style="margin-left: 30px
            
            
            ;color: aqua;">I</span>
            <span>'</span>
            <span>m</span>
        </div>
        <div class="word">
            <span style="color: aqua;">S</span>
            <span>h</span>
            <span>a</span>
            <span>h</span>
            <span>i</span>
            <span>d</span>
            <span>,</span>
        </div>
        <div class="word">
            <span style="color: aqua;">w</span>
            <span>e</span>
            <span>b</span>
            <span style="margin-left: 30px;color: aqua;">d</span>
            <span>e</span>
            <span>v</span>
            <span>e</span>
            <span>l</span>
            <span>o</span>
            <span>p</span>
            <span>e</span>
            <span>r</span>
           </div>
           <h5 class="word">Full Stack Developer | College Student</h5>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</section>
<%-  include("./partials/footer") %>
