<%-  include("./partials/header") %>
<section class="container-fluid px-0">
    <div class="col-lg-6">
        <div class="word">
            <span style="color: aqua;">P</span>
            <span>r</span>
            <span>o</span>
            <span>j</span>
            <span>e</span>
            <span>c</span>
            <span>t</span>
            <span>s</span>
        </div>
    </div>
    <div  class="col-lg-6">
        <div class="logo">
            <h3 class="title">eSell</h3>
            <hr>
                <h4 class="set">An eCommerce website build with Node.js, Express.js and MongoDB on backend and HTML,CSS,Bootstrap on frontend. It is still in progress.</h4>
                <button class="flat-btn"><a href="https://github.com/shahidahamad113/eSell">Visit on github</a></button>
                <button class="flat-btn"><a href="https://esellindia.herokuapp.com/aucgrounds"> Visit site</a></button>
        </div>
        <div class="logo">
            <h3 class="title">colorsGame</h3>
            <hr>
            <h4 class="set" style="justify-content:center">Color game based on assuming rgb color made using javascript,html,css,bootstrap,jQuery</h4>
            <button class="flat-btn"><a href="https://github.com/shahidahamad113/eSell">Visit on github</a></button>
            <button class="flat-btn"><a>Visit site..</a></button>
        </div>
    </div>
</section>
<%-  include("./partials/footer") %>

