<%-  include("./partials/header") %>
<section>
    <div class="contact">
        <div>
            <div class="word">
                <span style="color: aqua;">P</span>
                <span>r</span>
                <span>o</span>
                <span>j</span>
                <span>e</span>
                <span>c</span>
                <span>t</span>
                <span>s</span>
            </div>
        </div>
        <div>
            <div class="logo">
                <h3 class="title">eSell</h3>
                <hr>
                    <h4 class="set">An eCommerce website build with Node.js, Express.js and MongoDB on backend and HTML, CSS, Bootstrap on frontend. It is still in progress.</h4>
                    <button class="flat-btn"><a href="https://github.com/shahidahamad113/eSell">Visit on github</a></button>
                    <button class="flat-btn"><a href="https://esellindia.herokuapp.com/aucgrounds"> Visit site</a></button>
            </div>
            <div class="logo">
                <h3 class="title">food</h3>
                <hr>
                    <h4 class="set">Restaurant Search React-Native mobile app</h4>
                    <button class="flat-btn"><a href="https://github.com/shahidahamad113/food">Visit on github</a></button>
                    <button class="flat-btn"><a href="#"> Visit site</a></button>
            </div>
            <div class="logo">
                <h3 class="title">Weather App</h3>
                <hr>
                    <h4 class="set">Search any places current Weather and forecast Weather </h4>
                    <button class="flat-btn"><a href="https://github.com/shahidahamad113/Weather-app">Visit on github</a></button>
                    <button class="flat-btn"><a href="https://shahid-weather-app.herokuapp.com/"> Visit site</a></button>
            </div>
            <div class="logo">
                <h3 class="title">Blogs</h3>
                <hr>
                    <h4 class="set">Blogging React-Native mobile app</h4>
                    <button class="flat-btn"><a href="https://github.com/shahidahamad113/blogs">Visit on github</a></button>
                    <button class="flat-btn"><a href="#"> Visit site</a></button>
            </div>
            <div class="logo">
                <h3 class="title">colorsGame</h3>
                <hr>
                <h4 class="set" style="justify-content:center">Color game based on assuming rgb color made using javascript, html, css, bootstrap, jQuery</h4>
                <button class="flat-btn"><a href="https://github.com/shahidahamad113/eSell">Visit on github</a></button>
                <button class="flat-btn"><a>Visit site</a></button>
            </div>
        </div>
    </div>
</section>
<%-  include("./partials/footer") %>

